.burger__button {
    position: relative;
    @include size(64px);
    @include clear-button;
    background: linear-gradient(315deg, rgba(51, 123, 190, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%, rgba(51, 123, 190, 0.00) 100%), rgba(255, 255, 255, 0.08);
    border-radius: 50%;

    &.active{
        &:before{
            transform: rotate(-45deg);
            top: 50%;
            width: 60%;
            box-shadow: 0 0 5px $cWhite, 0 0 5px $cWhite;
            border-radius: 6px;
        }
        &:after {
            top: 50%;
            width: 60%;
            transform: rotate(45deg);
            box-shadow: 0 0 5px $cWhite, 0 0 5px $cWhite;
            border-radius: 6px;
        }
    }

    @include hover(){
        &:before,&:after{
            box-shadow: 0 0 5px $cWhite, 0 0 5px $cWhite;
        }
    }

    &:before,
    &:after {
        @include transit('box-shadow, transform, width, top', .5s);
        content: '';
        position: absolute;
        right: 20%;
        transform: translateY(-50%, 0);
        height: 2px;
        background-color: $cWhite;
    }

    &:before {
        top: 40%;
        width: 60%;
    }

    &:after {
        top: 60%;
        width: 40%;
    }
}
