@supports (height: 100dvh) and (width: 100dvw) {
    .main-title__section {
        min-height: 100dvh;

        &.has-ticker {
            min-height: calc(100dvh - var(--hHeader));
        }
    }
}

.main-title__section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100vh;

    &.has-ticker {
        min-height: calc(100vh - var(--hHeader));
    }
}

.text-title {
    text-align: center;
    font-size: calc-rem(108px);
    line-height: calc-rem(116px);
    font-weight: $fwBlack;
}
